<html>

    <head>
        <title>CurrencyWatch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <link href="{{ static_url('main.css') }}"  rel="stylesheet" />
        <link href="{{ static_url('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
        <!-- Scripts -->
        <script src="{{ static_url('jquery-3.5.1.js') }}"></script>
        <script src="{{ static_url('ws.js') }}"></script>
    </head>

    <body>

        <div class="data_block">
            <button id="next_btn" class="button button1">-></button>
            <button id="rndm_btn" class="button button1">#</button>
            <button id="save_btn" class="button button1">+</button>
        </div>
        <div class="data_block">
            <button id="auto_next_btn" class="button button1">*-></button>
            <button id="auto_rndm_btn" class="button button1">*#</button>
            <input type="number" id="refresh" min="1" max="10" value="4">

        </div>
        <div class="data_block">
            <img id="img_url" src="https://codecademy-prod.s3.amazonaws.com/profile_thumbnail/603c9c75a8e1c17d5cbdb646_296288701.png">
        </div>

    </body>

</html>