<html>

    <head>
        <title>CurrencyWatch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <link href="{{ static_url('main.css') }}"  rel="stylesheet" />
        <link href="{{ static_url('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
        <!-- Scripts -->
        <script src="{{ static_url('jquery-3.5.1.js') }}"></script>
        <script src="{{ static_url('ws.js') }}"></script>
    </head>



    <body>

    <div class="row">
        <div class="column">
            {% for svg in [svgs[0],svgs[2]]%}
            <div class="data_block">
                <embed>{% raw svg %}</embed>
            </div>
            {% end %}
        </div>
        <div class="column">
            {% for svg in [svgs[1],svgs[3]]%}
            <div class="data_block">
                <embed>{% raw svg %}</embed>
            </div>
            {% end %}
        </div>


        <div class="column">
            <div class="data_block">
                <textarea id="comments_area">{{comment}}</textarea>
            </div>
            <div class="data_block">
                <button id="comment_update_button">Update comments -></button>
            </div>

            <div class="data_block">
                <text id="symbol">{{symbol}}</text>
            </div>

            <div class="data_block">
                <button id="shortlist_rem_button">Remove {{symbol}} from the shortlist</button>
                <button id="shortlist_add_button">Add {{symbol}} to the shortlist</button>
            </div>

            <div class="data_block">
                <div id="shortlisted" class="button-container"></div>
            </div>

            <hr>

            <div class="data_block">
                <text>Search:</text>
                <input list="unlisted_symbols" id="unlisted_input"  />
                <datalist id="unlisted_symbols">
                </datalist>
            </div>


        </div>
    </div>




    </body>

</html>